.fundoLogin {
    background-image: url(https://t0.gstatic.com/licensed-image?q=tbn:ANd9GcTZCSmCzmIPm0up8wmW566cK5w3sSTUChT5UnaU3VnFxrHwoRNSnks0xUBmj2r2oeJk);
    background-repeat: no-repeat;
    min-height: 120vh;
    width: 100%;
    background-size: cover;
    background-position: center;
  }